<nav class="main-menu">
	<ul>
		<li>
			<a href="#">
				<i class="fa fa-leaf fa-2x"></i>
				<span class="nav-text">
					Apply Leave
				</span>
			</a>
		  
		</li>
		<li class="has-subnav">
			<a href="#">
				<i class="fa fa-mail-reply-all fa-2x"></i>
				<span class="nav-text">
					Recall Leave
				</span>
			</a>
			
		</li>
		<li class="has-subnav">
			<a href="#">
			   <i class="fa fa-list fa-2x"></i>
				<span class="nav-text">
					View Leave History
				</span>
			</a>
			
		</li>

		<li>
			<a href="#">
				<i class="fa fa-bar-chart-o fa-2x"></i>
				<span class="nav-text">
					Leave Utilization Report
				</span>
			</a>
		</li>
		<li>
		   <a href="#">
			   <i class="fa fa-table fa-2x"></i>
				<span class="nav-text">
					My Work Calendar
				</span>
			</a>
		</li>

	</ul>

	<ul class="logout">
		<li>
		   <a href="#">
				 <i class="fa fa-power-off fa-2x"></i>
				<span class="nav-text">
					Logout
				</span>
			</a>
		</li>  
	</ul>
</nav>